.homepage-access-features{
    background: rgba(200, 202, 200, 0.3);
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border-radius: 20px;
    grid-area: homepage-access-features;
    justify-items: stretch;
    text-align: center;
    /* display: flex; */
    justify-content: left;
    /* align-items: center; */
}
.homepage-table{
    background: rgb(81, 83, 81, 0.3);
    display: inline-table;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    grid-area: homepage-table;
    border-radius: 20px;
    justify-items: stretch;
    justify-self: center;
    align-items: center;
}
tr{
    transition: all .2s ease-in-out; 
}
tr:hover{
    background-color: rgb(241, 236, 236);
    transform: scale(1.1);
}

.homepage-search{
    text-align: center;
    background: rgba(200, 202, 200, 0.3);
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    grid-area: homepage-search;
    border-radius: 20px;
    display: flex;
    align-items: center;
}

.homepage-grid{
    display: grid;
    grid-template-columns: .5fr 1.5fr 3fr 1fr;
    grid-template-rows:1fr 1fr 4.5fr;
    grid-gap: 0.5rem;
    grid-template-areas:
    ". . . ."
    ". homepage-search homepage-table ."
    ". homepage-access-features homepage-table .";
}
